@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}